html,body{
  margin: 0;
  height: 100px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  color:blueviolet;
  background-color: bisque;
}
#root{
  height: 100%;
}